*{
  padding: 0;
  margin: 0;
}
.container {
  text-align: center;
}
.container h1{
  color: darkslategrey;
}

.container .board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 306px;
  padding-top: 30px;
}
.container .board .box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  line-height: 100px;
  font-size: 30px;
}

.selected {background: #d2d2d2;}